<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.ljy.functionutils">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".permission.PermissionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".listpopup.ListPopupWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmenttest.MyFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragmenttest.ActivityB"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification.NotificationDownLoadActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".bgplayer.service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".bgplayer.TestMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebBrowerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MuiltEdtActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MuiltUseActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>